[Unit]
Description=Renew Mujian IP HTTPS certificate
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/mujian/certbot-ip/venv/bin/certbot renew --quiet --no-random-sleep-on-renew --config-dir /etc/letsencrypt-ip --work-dir /var/lib/letsencrypt-ip --logs-dir /var/log/letsencrypt-ip
